@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Inter", sans-serif;
}

#main_part {
    width: 100vw;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23D5AB);
    background-size: 400% 400% !important;
    position: relative;
    animation: change 10s ease-in-out infinite;
    font-family: "Inter", sans-serif;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}